@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    padding: 10px;
    font-family: 'Lato', sans-serif;
    min-width: 515px;
}

@media (prefers-color-scheme: dark){
    body{
        background-color: #333;
    }

    ul{
        color: white;
    }
}

input{
    width: 100%;
    padding: 10px;
    border: 1px solid #5f9341;
    margin-bottom: 10px;
}

button{
    border: 1px solid #5f9341;
}

#input-btn{
    width: 10rem;
    padding: 8px 5px;
    background-color: #5f9341;
    color: whitesmoke;
    font-size: 18px;
    font-weight: bold;
}
#tab-btn{
    width: 10rem;
    margin: 0px 5px;
    padding: 8px 5px;
    background-color: #5f9341;
    color: whitesmoke;
    font-size: 18px;
    font-weight: bold;
}

#delete-btn{
    width: 10rem;
    padding: 8px 5px;
    background-color: whitesmoke;
    color: #5f9341;
    font-size: 18px;
    font-weight: bold;
}

ul{
    margin-top: 20px;
}

li{
    list-style: none;
    line-height: 25px;
    font-size: 18px;
}

li a{
    color: #5f9341;
}