.button {
    width: 15%;
    min-width: rem(48);
    min-height: rem(48);
    color: $button-text-color;
    border: 2px solid $textbox-border-color;
    border-radius: rem(10);
    outline: none;

    &:hover {
        cursor: pointer;
    }

    &:hover, &:focus {
        filter: brightness(120%);
        box-shadow: rem(4) rem(2) rem(5) $default-font-color;
    }
}

